<font color='#00ffaa'>ÜBERSETZUNG</font>
Rocket55
Nesjob

<font color='#00ffaa'>WEB-ENTWICKLUNG</font>
Erizzle

<font color='#00ffaa'>MEGA PATREON SUPPORTER</font>
Lillith
Cedrik Ple
ACertainCoder
Just a Yoshi


<font color='#00ffaa'>JACKBOX GAMES</font>

<font color='#00ffaa'>DIRECTOR</font>
Warren Arnold

<font color='#00ffaa'>LEAD ENGINEER</font>
Mike Zuba

<font color='#00ffaa'>LEAD ARTIST</font>
Bruno Rodríguez

<font color='#00ffaa'>AUDIO LEAD</font>
Andy Poland

<font color='#00ffaa'>PRODUCTION MANAGER</font>
Luke Cody

<font color='#00ffaa'>DESIGN TEAM</font>
Mark Turowetz
Mike Zuba
Bruno Rodríguez
CJ Tuor
Kyle Fleischer
Allard Laban
Allison Flom
Chase McClure
Warren Arnold

<font color='#00ffaa'>CONCEPT DESIGN</font>
Evan Jacover
Warren Arnold

<font color='#00ffaa'>WRITERS</font>
Warren Arnold
Brooke Breit
Tom Gottlieb
Claire McFadden
Brian Rodriguez-McGovern
CJ Tuor
Mark Turowetz

<font color='#00ffaa'>HOST</font>
Surena Marie

<font color='#00ffaa'>JACKBOX.TV ENGINEERS</font>
Chase McClure
Alex Swan

<font color='#00ffaa'>SERVER ENGINEERS</font>
Jordan Orelli
Kyle Leach

<font color='#00ffaa'>ADDITIONAL ART</font>
Kyle Fleischer
Dave Innis

<font color='#00ffaa'>ADDITIONAL SOUND DESIGN</font>
Avery Makel

<font color='#00ffaa'>ADDITIONAL ENGINEERING</font>
Ben Jacobs
Pascal Pochol
Michael Siciliano
Farhan Noormohammed

<font color='#00ffaa'>QA MANAGER</font>
Steve Pakal

<font color='#00ffaa'>QA</font>
Allison Flom
Kevin Vekony
Jack Guffey
Anna Kalandyk
Alex Lueck
Mike Parilla
Joel Villegas

<font color='#00ffaa'>PRODUCTION ASSISTANT</font>
Clara Hanford

<font color='#00ffaa'>USER RESEARCH</font>
Allison Flom
Kevin Vekony

<font color='#00ffaa'>PROOFREADER</font>
Zeke Polken

<font color='#00ffaa'>CEO</font>
Mike Bilder

<font color='#00ffaa'>CCO</font>
Allard Laban

<font color='#00ffaa'>CTO</font>
Evan Jacover

<font color='#00ffaa'>VP OF AUDIO AND EDITORIAL</font>
Andy Poland

<font color='#00ffaa'>EDITORIAL DIRECTOR</font>
Arnie Niekamp

<font color='#00ffaa'>MARKETING MANAGER</font>
Brooke Hofer

<font color='#00ffaa'>HR & OFFICE MANAGER</font>
Rob Alletto

<font color='#00ffaa'>LEGAL COUNSEL</font>
Kurt Hirsch

<font color='#00ffaa'>CONTROLLER</font>
Anna Wodynski

<font color='#00ffaa'>CREDITS SONG</font>
Andy Poland - Music & Lyrics
Mike Finney - vocals

<font color='#00ffaa'>SPECIAL THANKS</font>
Adam Charney
Brian Chard
Ryan DiGiorgi
Greg Gretsch
Tom Gottlieb
Tom Haley
Spencer Ham
Hector Padilla
Jacob Mooney
Owen Watson
Everybody who played a version of this game

<font color='#00ffaa'>FOUNDER OF JACKBOX GAMES</font>
Harry Gottlieb










