<font color='#ff7d00'>WEB-ENTWICKLUNG</font>
Erizzle

<font color='#ff7d00'>MEGA PATREON SUPPORTER</font>
Lillith
Cedrik Ple
ACertainCoder
Just a Yoshi


<font color='#ff7d00'>JACKBOX GAMES</font>

<font color='#ff7d00'>DIRECTOR</font>
Mark Turowetz

<font color='#ff7d00'>LEAD EDITORIAL</font>
Arnie Niekamp

<font color='#ff7d00'>LEAD ENGINEER</font>
Ben Jacobs

<font color='#ff7d00'>ART DIRECTOR</font>
David Innis

<font color='#ff7d00'>LEAD ARTISTS</font>
David Innis
Kyle Fleischer

<font color='#ff7d00'>MUSIC</font>
Andy Poland

<font color='#ff7d00'>SOUND</font>
Brian Chard

<font color='#ff7d00'>ENGINEERING</font>
Michael Siciliano
Farhan Noormohammed

<font color='#ff7d00'>PRODUCTION MANAGER</font>
Luke Cody

<font color='#ff7d00'>ORIGINAL HOST</font>
Spencer Ham

<font color='#ff7d00'>LEAD DESIGN</font>
Mark Turowetz
Arnie Niekamp

<font color='#ff7d00'>DESIGN</font>
Ben Jacobs
David Innis
Spencer Ham
Andy Poland
Kyle Fleischer

<font color='#ff7d00'>JACKBOX.TV ENGINEERS</font>
Alex Swan
Chase McClure

<font color='#ff7d00'>SERVER ENGINEERS</font>
Jordan Orelli
Kyle Leach

<font color='#ff7d00'>ADDITIONAL SOUND DESIGN</font>
Avery Makel

<font color='#ff7d00'>ADDITIONAL ENGINEERING</font>
Pascal Pochol
Mike Zuba

<font color='#ff7d00'>WRITERS</font>
Brooke Breit
Claire McFadden
Arnie Niekamp
CJ Tuor
Tom Gottlieb

<font color='#ff7d00'>CONTRIBUTING WRITERS</font>
Warren Arnold
Ryan DiGiorgi
Luke Donovan
Spencer Ham
Brian Rodriguez-McGovern
Mark Turowetz

<font color='#ff7d00'>OTHER VOICES AND SCREAMS</font>
Ryan DiGiorgi
Brooke Hofer
Mark Turowetz
Andy Poland
Arnie Niekamp
Claire McFadden
CJ Tuor
Phil Ridarelli
Allison Flom
Owen Watson 
Brooke Breit
Michael Siciliano
Rob Alletto
Tom Gottlieb

<font color='#ff7d00'>QA Manager</font>
Steve Pakal

<font color='#ff7d00'>QA</font>
Allison Flom
Kevin Vekony
Jack Guffey
Anna Kalandyk
Alex Lueck
Mike Parilla
Joel Villegas

<font color='#ff7d00'>PRODUCTION ASSISTANT</font>
Clara Hanford

<font color='#ff7d00'>USER RESEARCH</font>
Allison Flom
Kevin Vekony

<font color='#ff7d00'>PROOFREADERS</font>
Elaine Friedberg
Zeke Polken

<font color='#ff7d00'>CEO</font>
Mike Bilder

<font color='#ff7d00'>CCO</font>
Allard Laban

<font color='#ff7d00'>CTO</font>
Evan Jacover

<font color='#ff7d00'>VP OF AUDIO AND EDITORIAL</font>
Andy Poland

<font color='#ff7d00'>EDITORIAL DIRECTOR</font>
Arnie Niekamp

<font color='#ff7d00'>MARKETING MANAGER</font>
Brooke Hofer

<font color='#ff7d00'>HR & OFFICE MANAGER</font>
Rob Alletto

<font color='#ff7d00'>LEGAL COUNSEL</font>
Kurt Hirsch

<font color='#ff7d00'>CONTROLLER</font>
Anna Wodynski

<font color='#ff7d00'>CREDITS SONG</font>
Andy Poland - music & lyrics
Mike Finney – vocals
Brian Chard – guitar solo

<font color='#ff7d00'>LIST OF THE DEAD SONG</font>
Randy Sly

<font color='#ff7d00'>ADDITIONAL SEWING</font>
Allison Flom
David Innis
Brooke Hofer

<font color='#ff7d00'>SPECIAL THANKS</font>
Adam Charney
Greg Gretsch
Owen Watson
Tim Sniffen
Hector M Padilla

<font color='#ff7d00'>FOUNDER OF JACKBOX GAMES</font>
Harry Gottlieb