<font color='#ffffff'>ÜBERSETZUNG</font>
Uschan deLucca
Lara

<font color='#ffffff'>WEB-ENTWICKLUNG</font>
Erizzle

<font color='#ffffff'>MEGA PATREON SUPPORTER</font>
Lillith
Cedrik Ple
ACertainCoder
Just a Yoshi


<font color='#ffffff'>JACKBOX GAMES</font>

<font color='#ffffff'>DIRECTOR & LEAD EDITORIAL</font>
Ryan DiGiorgi

<font color='#ffffff'>LEAD ENGINEERS</font>
Ben Jacobs
Farhan Noormohammed
Michael Siciliano

<font color='#ffffff'>LEAD ARTIST</font>
Hector M Padilla

<font color='#ffffff'>AUDIO LEAD</font>
Brian Chard

<font color='#ffffff'>ORIGINAL DESIGN</font>
Ben Jacobs

<font color='#ffffff'>PRODUCTION MANAGER</font>
Luke Cody

<font color='#ffffff'>DESIGN TEAM</font>
Ryan DiGiorgi
Brian Chard
Ben Jacobs
Hector M Padilla
Farhan Noormohammed
Michael Siciliano

<font color='#ffffff'>ADDITIONAL DESIGN</font>
Arnie Niekamp

<font color='#ffffff'>HOST</font>
Leila Gorstein

<font color='#ffffff'>JACKBOX.TV ENGINEERS</font>
Alex Swan
Chase McClure

<font color='#ffffff'>SERVER ENGINEERS</font>
Jordan Orelli
Kyle Leach

<font color='#ffffff'>ART AND ANIMATION</font>
Patrick deBardelaben
David Innis
Kyle Labriola
Hero Paul See

<font color='#ffffff'>ADDITIONAL SOUND DESIGN</font>
Avery Makel

<font color='#ffffff'>ADDITIONAL ENGINEERING</font>
Pascal Pochol
Mike Zuba

<font color='#ffffff'>WRITERS</font>
CJ Tuor
Brooke Breit
Brian Chard
Tom Gottlieb
Claire McFadden
Brian Rodriguez-McGovern

<font color='#ffffff'>CONTRIBUTING WRITERS</font>
Warren Arnold
Luke Donovan
Arnie Niekamp
Farhan Noormohammed

<font color='#ffffff'>SINGERS</font>
Claire McFadden
Brooke Breit
Lina Chern

<font color='#ffffff'>ADDITIONAL VOICES</font>
Hector M Padilla
Ryan DiGiorgi

<font color='#ffffff'>QA MANAGER</font>
Steve Pakal

<font color='#ffffff'>QA</font>
Allison Flom
Kevin Vekony
Jack Guffey
Anna Kalandyk
Alex Lueck
Mike Parilla
Joel Villegas

<font color='#ffffff'>PRODUCTION ASSISTANT</font>
Clara Hanford

<font color='#ffffff'>USER RESEARCH</font>
Allison Flom
Kevin Vekony

<font color='#ffffff'>PROOFREADER</font>
Elaine Friedberg

<font color='#ffffff'>CEO</font>
Mike Bilder

<font color='#ffffff'>CCO</font>
Allard Laban

<font color='#ffffff'>CTO</font>
Evan Jacover

<font color='#ffffff'>VP OF AUDIO AND EDITORIAL</font>
Andy Poland

<font color='#ffffff'>EDITORIAL DIRECTOR</font>
Arnie Niekamp

<font color='#ffffff'>MARKETING MANAGER</font>
Brooke Hofer

<font color='#ffffff'>HR & OFFICE MANAGER</font>
Rob Alletto

<font color='#ffffff'>LEGAL COUNSEL</font>
Kurt Hirsch

<font color='#ffffff'>CONTROLLER</font>
Anna Wodynski

<font color='#ffffff'>SPECIAL THANKS</font>
Adam Charney
Greg Gretsch
Warren Arnold
Spencer Ham
Kyle Fleischer
Bruno Rodríguez
Tim Sniffen
Mark Turowetz
Owen Watson

<font color='#ffffff'>FOUNDER OF JACKBOX GAMES</font>
Harry Gottlieb
